/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-sm);
  padding: var(--size-sm) var(--size-md);
}

.waiting {
  color: var(--color-warning-5);
}

.connected {
  color: var(--color-success-5);
}

.error {
  color: var(--color-danger-5);
}

/* * */
/* LOCATION NAME */

.locationName {
  font-size: 12px;
  font-weight: var(--fontweight-medium);
  text-transform: uppercase;
  line-height: 1;
}

/* * */
/* ICON WRAPPER */

.iconWrapper {
  display: flex;
}
