/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-md) var(--size-lg);
  border-width: var(--borderwidth-md);
  border-style: solid;
  border-radius: var(--borderradius-md);
  font-size: 25px;
  font-weight: var(--fontweight-bold);
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}

.container:active {
  box-shadow: var(--boxshadow-sm);
}

/* * */
/* COLOR / PRIMARY */

.primary,
.primary * {
  color: var(--color-gray-0);
  background-color: var(--color-primary-5);
  border-color: var(--color-primary-6);
}

.primary:active,
.primary:active * {
  color: var(--color-primary-2);
  background-color: var(--color-primary-6);
  border-color: var(--color-primary-9);
}

/* * */
/* COLOR / SECONDARY */

.secondary,
.secondary * {
  color: var(--color-gray-11);
  background-color: var(--color-gray-3);
  border-color: var(--color-gray-7);
}

.secondary:active,
.secondary:active * {
  color: var(--color-gray-12);
  background-color: var(--color-gray-8);
  border-color: var(--color-gray-9);
}

/* * */
/* COLOR / SUCCESS */

.success,
.success * {
  color: var(--color-gray-0);
  background-color: var(--color-success-5);
  border-color: var(--color-success-6);
}

.success:active,
.success:active * {
  color: var(--color-success-9);
  background-color: var(--color-success-6);
  border-color: var(--color-success-9);
}

/* * */
/* COLOR / WARNING */

.warning,
.warning * {
  color: var(--color-gray-0);
  background-color: var(--color-warning-5);
  border-color: var(--color-warning-6);
}

.warning:active,
.warning:active * {
  color: var(--color-warning-9);
  background-color: var(--color-warning-6);
  border-color: var(--color-warning-9);
}

/* * */
/* COLOR / DANGER */

.danger,
.danger * {
  color: var(--color-gray-0);
  background-color: var(--color-danger-5);
  border-color: var(--color-danger-6);
}

.danger:active,
.danger:active * {
  color: var(--color-danger-9);
  background-color: var(--color-danger-6);
  border-color: var(--color-danger-9);
}

/* * */
/* COLOR / DISABLED */

.disabled,
.disabled *,
.disabled:active,
.disabled:active * {
  cursor: not-allowed;
  color: var(--color-gray-6);
  background-color: var(--color-gray-2);
  border-color: var(--color-gray-4);
  box-shadow: none;
}
